

.azul {
    background-color: #AECBF9;
}

.verde {
    background-color: #B8E0A8;
}

.rosa {
    background-color: #F6C6C7;
}

.amarillo {
    background-color: #FDF1A0;
}

.morado {
    background-color: #D8C7FA;
}

.menta {
    background-color: #A9E5D9;
}

.turquesa {
    background-color: #A0D9E6;
}

.prueba {
    width: 50px;
}

@media screen and (min-width: 601px) { /* Para escritorio */
    .tablaMovil {
        display: none;
    }

    .mes1 {
        float: left;
        margin-right: 100px;
        height: 500px;
        width: 300px;
    }

    .mes2 {
        height: 500px;
        width: 300px;
    }

}

@media screen and (max-width: 600px) { /* Para dispositivos moviles */
    .tablaEscritorio {
        display: none;
    }

    .mes1, .mes2 {
        width: 100%;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    td {
        font-size: 13px;
    }
}