.azul {
    background-color: #AECBF9;
}

.verde {
    background-color: #B8E0A8;
}

.rosa {
    background-color: #F6C6C7;
}

.amarillo {
    background-color: #FDF1A0;
}

.morado {
    background-color: #D8C7FA;
}

.menta {
    background-color: #A9E5D9;
}

.turquesa {
    background-color: #A0D9E6;
}